@charset "UTF-8";
/* navbar */
* {
  font-family: "PingFang SC", "Microsoft YaHei", "Heiti SC", "Heiti TC", "Helvetica Neue", "Helvetica", "Arial", "sans-serif" !important;
}

body {
  background-repeat: no-repeat;
  background-color: #fafafa;
}

.strong {
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 600;
  font-family: "PingFangSC-Semibold";
}

.underline {
  text-decoration: underline;
}

code {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
}

.pc-mode {
  min-width: 1200px;
}
.pc-mode a.btn {
  cursor: pointer;
  display: flex;
  width: 124px;
  height: 48px;
  line-height: 48px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  background-color: #fff;
}
.pc-mode a.btn img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  top: 12px;
  left: 16px;
  position: relative;
}
.pc-mode a.btn span {
  flex: 1;
}
.pc-mode a.btn.blue {
  border: 1px solid #005AD9;
  background-color: #005AD9;
  color: #fff;
}
.pc-mode .fixedHeaderContainer {
  min-width: 1200px;
  padding: 0;
}
.pc-mode .fixedHeaderContainer .wrapper {
  max-width: inherit;
}
.pc-mode .fixedHeaderContainer .logo {
  margin-left: 24px;
  margin-top: 16px;
  max-width: 999px;
}
.pc-mode .intro-box {
  margin-top: 114px;
  font-size: 16px;
  height: 476px;
}
.pc-mode .intro-box .wrap {
  width: 980px;
  margin: 0 auto;
  position: relative;
  font-weight: 100;
}
.pc-mode .intro-box .wrap .paragraph {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 23px;
  font-family: "PingFangSC-Light" !important;
}
.pc-mode .intro-box .wrap .pag {
  width: 231px;
  display: block;
  margin-bottom: 25px;
}
.pc-mode .intro-box .wrap .logo-l {
  position: absolute;
  right: 0;
  top: 10px;
  width: 360px;
}
.pc-mode .intro-box .wrap .btn-bar {
  display: flex;
  margin-top: 32px;
}
.pc-mode .intro-box .wrap .btn-bar a {
  margin-right: 15px;
  font-weight: 600;
}
.pc-mode .intro-box .wrap .tip {
  margin-top: 16px;
  color: #666;
  font-size: 12px;
  line-height: 18px;
  display: block;
}
.pc-mode .main {
  background-color: #fff;
  position: relative;
  padding-top: 95px;
}
.pc-mode .main .chapter {
  margin: 0 auto;
  width: 980px;
}
.pc-mode .main .chapter .wrap {
  display: flex;
  justify-content: space-between;
}
.pc-mode .main .chapter .reverse {
  flex-direction: row-reverse;
}
.pc-mode .main .chapter .detail.reverse {
  padding-right: 7px;
}
.pc-mode .main .chapter .feature {
  display: block;
  margin-bottom: 48px;
  width: 80px;
}
.pc-mode .main .chapter .text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  font-family: "PingFangSC-Light" !important;
}
.pc-mode .main .chapter .arrow {
  width: 33px;
  display: block;
  margin: 35px auto 46px auto;
  position: relative;
  right: -10px;
}
.pc-mode .main .chapter .arrow.reverse {
  transform: scaleX(-1);
  right: 17px;
}
.pc-mode .main .chapter .num {
  margin-bottom: 14px;
  height: 72px;
}
.pc-mode .main .chapter .title {
  height: 48px;
  font-size: 32px;
  line-height: 48px;
  font-weight: 900;
  margin-bottom: 24px;
  font-family: "PingFangSC-Semibold" !important;
}
.pc-mode .main .chapter .btn-bar {
  display: flex;
}
.pc-mode .main .chapter .btn-bar a {
  margin-top: 46px;
  font-weight: 600;
}
.pc-mode .main .chapter .btn-bar.reverse {
  display: flex;
  flex-direction: row-reverse;
  margin-right: -7px;
}
.pc-mode .main .chapter .btn-bar.reverse a {
  margin-top: 48px;
  font-weight: 600;
}
.pc-mode .main .chapter:last-child {
  padding-bottom: 83px;
}
.pc-mode .partner {
  padding-top: 96px;
  position: relative;
  padding-bottom: 255px;
}
.pc-mode .partner .wrap {
  width: 980px;
  margin: 0 auto;
}
.pc-mode .partner .wrap .users {
  width: 65px;
}
.pc-mode .partner .wrap .title {
  margin-top: 19px;
  margin-bottom: 23px;
  font-size: 32px;
  line-height: 48px;
  font-weight: 900;
}
.pc-mode .partner .wrap .gallery {
  display: flex;
  flex-wrap: wrap;
}
.pc-mode .partner .wrap .item:nth-child(6n) {
  margin-right: 0;
}
.pc-mode .partner .wrap .item {
  margin-right: 16px;
  width: 150px;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.16);
  padding-top: 25px;
}
.pc-mode .partner .wrap .item .thumb {
  width: 80px;
  height: 80px;
  border-radius: 18px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
}
.pc-mode .partner .wrap .item .name {
  margin-top: 16px;
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 24px;
}
.pc-mode .partner .wrap .btn-bar {
  display: flex;
  margin-top: 4px;
}
.pc-mode .partner .wrap .btn-bar a {
  margin-top: 23px;
  margin-right: 15px;
  font-weight: 600;
}
.pc-mode .download {
  background-color: #222;
  position: relative;
}
.pc-mode .download .wrap {
  width: 980px;
  margin: 0 auto;
  padding-bottom: 90px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  text-align: center;
}
.pc-mode .download .wrap img {
  margin-top: -160px;
}
.pc-mode .download .wrap .pkg {
  position: relative;
}
.pc-mode .download .wrap .pkg .pkg-download {
  display: inline-block;
  width: 507px;
  height: 616px;
  margin-top: -160px;
  background-size: 507px 616px;
  background-image: url("https://pag.qq.com/website/static/img/new_official_website/pkg_download.png");
}
.pc-mode .download .wrap .mac-download,
.pc-mode .download .wrap .win-download {
  position: absolute;
  width: 235px;
  height: 64px;
  display: block;
  bottom: 6px;
  left: 50%;
}
.pc-mode .download .wrap .mac-download {
  margin-left: -256px;
}
.pc-mode .download .wrap .win-download {
  margin-left: -5px;
}
.pc-mode .customer-service {
  position: fixed;
  right: 40px;
  bottom: 36px;
  z-index: 1;
}
.pc-mode .customer-service #js_cs_popup {
  display: none;
}
.pc-mode .customer-service #js_cs {
  width: 96px;
}
.pc-mode .customer-service .panel {
  position: absolute;
  width: 384px;
  height: 596px;
  border-radius: 24px;
  background-color: #005AD9;
  right: 8px;
  bottom: 135px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.24);
}
.pc-mode .customer-service .panel .title {
  padding: 22px 0 22px 22px;
  font-size: 32px;
  line-height: 48px;
  color: #fff;
}
.pc-mode .customer-service .panel .content {
  font-weight: 100;
  padding: 0 22px 22px 22px;
  background-color: #005AD9;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
.pc-mode .customer-service .panel .questions {
  height: 325px;
  background-color: #fff;
  overflow: scroll;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.16);
}
.pc-mode .customer-service .panel .questions .q-wrap .unit .unit-wrap {
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  margin: 22px;
  line-height: 24px;
  font-size: 16px;
  padding-bottom: 22px;
}
.pc-mode .customer-service .panel .questions .q-wrap .unit .unit-wrap:hover {
  color: #005AD9;
}
.pc-mode .customer-service .panel .more {
  color: #005AD9;
  z-index: 10;
  background-color: #fff;
  height: 96px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  font-weight: 100;
  text-align: center;
  padding-top: 25px;
  font-size: 16px;
  line-height: 24px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
}
.pc-mode .customer-service .panel .more .strong {
  cursor: pointer;
  text-decoration: underline;
}
.pc-mode .customer-service .panel .more .strong a {
  color: #005AD9;
}
.pc-mode .nav-footer {
  background-color: #222;
}
.pc-mode .headerTitleWithLogo {
  display: none !important;
}
.pc-mode .headerWrapper header a {
  float: left;
}
.pc-mode .headerWrapper header a .logo {
  position: fixed;
  margin-top: 39px;
  width: 133px;
  height: 48px;
}
.pc-mode .fixedHeaderContainer {
  height: 80px;
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255, 255, 255, 0.8) !important;
}
.pc-mode .fixedHeaderContainer header {
  display: block;
}
.pc-mode .fixedHeaderContainer .wrapper {
  padding: 0;
}
.pc-mode .navigationWrapper {
  margin: 0 auto !important;
}
.pc-mode .navigationWrapper .slidingNav {
  width: 1080px !important;
  margin: 0 auto !important;
}
.pc-mode .navigationSlider .slidingNav ul {
  background: transparent !important;
}
.pc-mode .navigationSlider .slidingNav ul li > a:focus, .pc-mode .navigationSlider .slidingNav ul li > a:hover, .pc-mode .navigationSlider .slidingNav ul li.siteNavItemActive > a, .pc-mode .navigationSlider .slidingNav ul li.siteNavGroupActive > a:focus {
  background-color: transparent !important;
}
.pc-mode .nav-site.nav-site-internal {
  width: 448px !important;
  margin: 0 auto !important;
  display: flex;
  align-items: center;
}
.pc-mode .nav-site.nav-site-internal li a {
  cursor: pointer;
  color: #000 !important;
  margin-top: 23px !important;
  font-weight: 600 !important;
  padding: 6px 16px 6px 16px;
}
.pc-mode .nav-site.nav-site-internal li:nth-child(1) a,
.pc-mode .nav-site.nav-site-internal li:nth-child(2) a,
.pc-mode .nav-site.nav-site-internal li:nth-child(3) a,
.pc-mode .nav-site.nav-site-internal li:nth-child(4) a,
.pc-mode .nav-site.nav-site-internal li:nth-child(5) a {
  color: #000 !important;
  text-align: center;
  position: relative;
}
.pc-mode .nav-site.nav-site-internal li:nth-child(1) a:hover,
.pc-mode .nav-site.nav-site-internal li:nth-child(2) a:hover,
.pc-mode .nav-site.nav-site-internal li:nth-child(3) a:hover,
.pc-mode .nav-site.nav-site-internal li:nth-child(4) a:hover,
.pc-mode .nav-site.nav-site-internal li:nth-child(5) a:hover {
  background-color: transparent !important;
  color: #005AD9 !important;
}
.pc-mode .nav-site.nav-site-internal li:nth-child(1) a:hover:after, .pc-mode .nav-site.nav-site-internal li:nth-child(1) a.active {
  content: "";
  border-top: 2px solid #005AD9;
  position: absolute;
  width: 30px;
  height: 1px;
  bottom: -8px;
}
.pc-mode .nav-site.nav-site-internal li:nth-child(2) a:hover:after, .pc-mode .nav-site.nav-site-internal li:nth-child(2) a.active {
  content: "";
  border-top: 2px solid #005AD9;
  position: absolute;
  width: 80px;
  height: 1px;
  bottom: -8px;
}
.pc-mode .nav-site.nav-site-internal li:nth-child(3) a:hover:after, .pc-mode .nav-site.nav-site-internal li:nth-child(3) a.active {
  content: "";
  border-top: 2px solid #005AD9;
  position: absolute;
  width: 80px;
  height: 1px;
  bottom: -8px;
}
.pc-mode .nav-site.nav-site-internal li:nth-child(4) a:hover:after, .pc-mode .nav-site.nav-site-internal li:nth-child(4) a.active {
  content: "";
  border-top: 2px solid #005AD9;
  position: absolute;
  width: 65px;
  height: 1px;
  bottom: -8px;
}
.pc-mode .nav-site.nav-site-internal li:nth-child(5) a:hover:after, .pc-mode .nav-site.nav-site-internal li:nth-child(5) a.active {
  content: "";
  border-top: 2px solid #005AD9;
  position: absolute;
  width: 55px;
  height: 1px;
  bottom: -8px;
}
.pc-mode .nav-site.nav-site-internal li:nth-child(6),
.pc-mode .nav-site.nav-site-internal li:nth-child(7),
.pc-mode .nav-site.nav-site-internal li:nth-child(8) {
  position: fixed;
}
.pc-mode .nav-site.nav-site-internal li:nth-child(6) {
  right: 263px;
}
.pc-mode .nav-site.nav-site-internal li:nth-child(6) a {
  width: 102px;
  height: 40px;
  color: #333333 !important;
  font-size: 16px;
  font-weight: 600;
  font-family: "PingFangSC-Semibold" !important;
  float: left;
  padding: 8px 12px 8px 35px;
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 12.7% 50%;
  background-image: url("https://pag.qq.com/website/static/img/new_official_website/github_top.png");
  border: 1px solid #cccccc;
  border-radius: 8px;
  background-color: #ffffff !important;
  box-shadow: none;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.pc-mode .nav-site.nav-site-internal li:nth-child(6) a:hover {
  box-shadow: inset 0 0 4px #3495fc3e, 0 0 4px #3495fc3e;
  border-color: #005ad975;
  background-color: #ffffff !important;
  background-position: 12.7% 46%;
  background-image: url("https://pag.qq.com/website/static/img/new_official_website/star.png");
  animation: star 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.pc-mode .nav-site.nav-site-internal li:nth-child(7) {
  right: 141px;
}
.pc-mode .nav-site.nav-site-internal li:nth-child(7) a {
  height: 40px;
  color: #333333 !important;
  font-size: 16px;
  font-weight: 600;
  font-family: "PingFangSC-Semibold" !important;
  float: left;
  padding: 8px 12px 8px 32px;
  background-repeat: no-repeat;
  background-size: 15px 18px;
  background-position: 12.7% 50%;
  background-image: url("https://pag.qq.com/website/static/img/new_official_website/qq_group.png");
  border: 1px solid #cccccc;
  border-radius: 8px;
  background-color: #ffffff !important;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.pc-mode .nav-site.nav-site-internal li:nth-child(7) a:hover {
  box-shadow: inset 0 0 4px #3495fc3e, 0 0 4px #3495fc3e;
  border-color: #005ad975;
  background-color: #ffffff !important;
}
.pc-mode .nav-site.nav-site-internal li:nth-child(8) {
  right: 25px;
}
.pc-mode .nav-site.nav-site-internal li:nth-child(8) a {
  font-size: 16px;
  font-weight: 600;
  font-family: "PingFangSC-Semibold" !important;
  border-radius: 8px;
  background-color: #005AD9;
  color: #ffffff !important;
  height: 40px;
  width: 88px;
  margin-top: 20px !important;
}
.pc-mode .nav-site.nav-site-internal li:nth-child(8) a:hover {
  background-color: #005AD9 !important;
}
.pc-mode .nav-site.nav-site-internal li.active a {
  color: #000 !important;
  text-align: center;
  position: relative;
  background-color: transparent !important;
  color: #005AD9 !important;
}
.pc-mode .nav-site.nav-site-internal li.active a:after {
  content: "";
  border-top: 2px solid #005AD9;
  position: absolute;
}
.pc-mode .nav-site.nav-site-internal li:nth-child(1).active a:after {
  width: 30px;
  height: 1px;
  bottom: -8px;
}
.pc-mode .nav-site.nav-site-internal li:nth-child(2).active a:after {
  width: 80px;
  height: 1px;
  bottom: -8px;
}
.pc-mode .nav-site.nav-site-internal li:nth-child(3).active a:after {
  width: 80px;
  height: 1px;
  bottom: -8px;
}
.pc-mode .nav-site.nav-site-internal li:nth-child(4).active a:after {
  width: 65px;
  height: 1px;
  bottom: -8px;
}
.pc-mode .nav-site.nav-site-internal li:nth-child(5).active a:after {
  width: 56px;
  height: 1px;
  bottom: -8px;
}
.pc-mode .arrowPopup {
  position: fixed;
  display: none;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}
.pc-mode #navPopUp_github {
  right: 265px;
  top: 84px;
  padding: 16px;
  width: 96px;
  height: 56px;
  border-radius: 4px;
  overflow: hidden;
}
.pc-mode .shader {
  width: inherit;
  background-color: #ffffff;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9;
  color: #005ad9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
  font-family: "PingFangSC-Medium" !important;
  font-size: 16px;
}
.pc-mode #popup_github_wrapper {
  width: 96px;
  height: 56px;
}
.pc-mode #navPopUp_github::after {
  content: "";
  top: 78px;
  right: 297px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  height: 30px;
  width: 30px;
  position: fixed;
  margin-left: -30px;
  z-index: 9;
  transform: rotate(45deg);
  z-index: 1;
}
.pc-mode #navPopUp_qqgroup {
  right: 80px;
  top: 84px;
  padding: 16px;
  width: 222px;
  height: 56px;
  border-radius: 4px;
  overflow: hidden;
}
.pc-mode #navPopUp_qqgroup::after {
  content: "";
  top: 78px;
  right: 171px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  height: 30px;
  width: 30px;
  position: fixed;
  margin-left: -30px;
  z-index: 9;
  transform: rotate(45deg);
  z-index: 1;
}
.pc-mode #popup_qqgroup_wrapper {
  height: 56px;
  padding: 16px 16px 16px 42px;
  background-repeat: no-repeat;
  background-size: 16px 15px;
  background-position: 7.4% 50%;
  background-image: url("https://pag.qq.com/website/static/img/new_official_website/chat.png");
}
.pc-mode .nav-footer {
  display: flex;
  padding: 48px 0 48px 0;
}
.pc-mode .nav-footer .copyright {
  display: flex;
  min-width: 980px;
  font-size: 12px;
  line-height: 24px;
  margin: 0 auto;
  text-align: left !important;
  justify-content: space-between;
  color: #cccccc;
}
.pc-mode .nav-footer .git-icon {
  width: 24px;
  height: 24px;
  background-image: url("https://pag.qq.com/website/static/img/new_official_website/github.png");
  background-repeat: no-repeat;
  background-size: 24px;
  margin-left: 20px;
  cursor: pointer;
  float: right;
}
.pc-mode .nav-footer .qq-group-icon {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  height: 24px;
  line-height: 24px;
  background-repeat: no-repeat;
  background-size: 24px;
  background-image: url("https://pag.qq.com/website/static/img/new_official_website/qq.png");
  background-position: 75% 50%;
  color: #cccccc;
}
.pc-mode .nav-footer div:nth-child(3) {
  float: right;
  margin: 0 0 0 32px;
}
.pc-mode .nav-footer .privacy-policy {
  cursor: pointer;
  margin-left: 24px;
  font-size: 13px;
  font-weight: 500;
  color: #dadada;
}
.pc-mode .docs-prevnext .docs-prev > span:nth-child(1) {
  color: transparent;
}
.pc-mode .docs-prevnext .docs-prev > span:nth-child(1):after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  top: -3px;
  border-radius: 40px;
  border: 1px solid #333;
  background-image: url("https://pag.qq.com/website/static/img/new_official_website/arrow_right.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.pc-mode .docs-prevnext .docs-prev > span:nth-child(2) {
  visibility: hidden;
}
.pc-mode .docs-prevnext .docs-prev:hover > span:nth-child(1):after {
  border: 1px solid #005AD9;
  background-image: url("https://pag.qq.com/website/static/img/new_official_website/arrow_left.png");
  transform: scaleX(-1);
}
.pc-mode .docs-prevnext .docs-prev:hover > span:nth-child(2) {
  visibility: visible;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.48);
  font-size: 10px;
  line-height: 14px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 2px;
  left: 0;
  top: -25px;
  position: absolute;
  height: 18px;
  line-height: 18px;
}
.pc-mode .docs-prevnext .docs-next > span:nth-child(1) {
  visibility: hidden;
}
.pc-mode .docs-prevnext .docs-next > span:nth-child(2) {
  color: transparent;
}
.pc-mode .docs-prevnext .docs-next > span:nth-child(2):after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  top: -3px;
  border-radius: 40px;
  border: 1px solid #333;
  background-image: url("https://pag.qq.com/website/static/img/new_official_website/arrow_right.png");
  transform: scaleX(-1);
  background-repeat: no-repeat;
  background-position: center center;
}
.pc-mode .docs-prevnext .docs-next:hover > span:nth-child(2):after {
  border: 1px solid #005AD9;
  background-image: url("https://pag.qq.com/website/static/img/new_official_website/arrow_left.png");
  transform: scaleX(1);
}
.pc-mode .docs-prevnext .docs-next:hover > span:nth-child(1) {
  visibility: visible;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.48);
  font-size: 10px;
  line-height: 14px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 2px;
  right: 0;
  top: -25px;
  position: absolute;
  height: 18px;
  line-height: 18px;
}
.pc-mode .docs-prevnext .docs-prev, .pc-mode .docs-prevnext .docs-next {
  border: none;
  position: relative;
  width: auto;
  min-width: 150px;
}
.pc-mode .docs-prevnext .docs-prev:after,
.pc-mode .docs-prevnext .docs-next:after {
  font-size: 16px;
  position: absolute;
}
.pc-mode .docs-prevnext .docs-prev:after {
  content: "上一篇";
  left: 55px;
  top: 10px;
}
.pc-mode .docs-prevnext .docs-next:after {
  content: "下一篇";
  right: 55px;
  top: 10px;
}
.pc-mode .docs-prevnext .docs-prev:hover,
.pc-mode .docs-prevnext .docs-next:hover {
  background: none;
}
.pc-mode .docs-prevnext .docs-prev:hover:after,
.pc-mode .docs-prevnext .docs-next:hover:after {
  color: #005AD9;
}
.pc-mode .toc .toggleNav {
  width: 360px;
}
.pc-mode .toc .toggleNav .navGroup .navGroupCategoryTitle {
  font-size: 24px;
  line-height: 32px;
  min-height: 40px;
  padding-left: 33px;
  font-weight: 700;
}
.pc-mode .toc .toggleNav ul {
  padding: 0;
}
.pc-mode .toc .toggleNav ul li {
  padding-left: 33px;
}
.pc-mode .toc .toggleNav ul li a {
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
  color: #333;
  padding: 0;
  min-height: 40px;
}
.pc-mode .toc .toggleNav ul li:last-child {
  margin-bottom: 24px !important;
}
.pc-mode .toc .toggleNav ul li.navListItemActive {
  background-color: #D7EBFF;
}
.pc-mode .toc .toggleNav ul li.navListItemActive a {
  color: #005AD9;
}
.pc-mode.separateOnPageNav .navPusher .mainContainer {
  max-width: 720px;
  padding: 48px 0 0;
}
.pc-mode .navPusher .docMainWrapper.wrapper {
  padding: 0 20px 0 0;
}
.pc-mode .onPageNav {
  position: fixed;
  top: 90px;
}
.pc-mode .docMainWrapper > *:first-child {
  flex: 0 0 380px;
}
.pc-mode.separateOnPageNav .toc {
  width: 360px;
}
.pc-mode .navPusher .usersContainer {
  padding: 48px 0 0;
}
.pc-mode .navPusher .usersContainer .container .wrapper .showcaseSection {
  max-width: 1080px;
  min-width: 1080px;
  width: 1080px;
}
.pc-mode .navPusher .usersContainer .container .wrapper .showcaseSection .prose {
  max-width: 1080px;
}
.pc-mode .navPusher .usersContainer .container .wrapper .showcaseSection .prose h1 {
  text-align: left;
  font-size: 32px;
  line-height: 40px;
}
.pc-mode .navPusher .usersContainer .container .wrapper .showcaseSection .logos {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 180px;
  justify-content: flex-start;
}
.pc-mode .navPusher .usersContainer .container .wrapper .showcaseSection .logos > a:nth-child(6n) {
  margin-right: 0;
}
.pc-mode .navPusher .usersContainer .container .wrapper .showcaseSection .logos > a {
  margin-right: 35px;
  width: 150px;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.16);
  padding-top: 25px;
}
.pc-mode .navPusher .usersContainer .container .wrapper .showcaseSection .logos > a > img {
  width: 80px;
  height: 80px;
  border-radius: 18px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
  padding: 0;
}
.pc-mode .navPusher .usersContainer .container .wrapper .showcaseSection .logos > a .name {
  margin-top: 14px;
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 24px;
}
.pc-mode .navPusher .usersContainer .container .wrapper .showcaseSection .logos .contact {
  position: relative;
}
.pc-mode .navPusher .usersContainer .container .wrapper .showcaseSection .logos .contact img {
  box-shadow: none;
}
.pc-mode .navPusher .usersContainer .container .wrapper .showcaseSection .logos .contact .ts {
  position: absolute;
  font-size: 14px;
  line-height: 24px;
  color: #005AD9;
  width: 100%;
  text-align: center;
  bottom: 0;
}
.pc-mode .pagView {
  visibility: hidden;
  margin: -15px -15px 0 -15px;
  padding: 0;
}
.pc-mode .pagApng {
  width: 578px;
  height: 390px;
  margin: -15px -15px 0 -15px;
}
.pc-mode .showCase-container .caseMain {
  position: relative;
  padding-top: 0;
  padding-bottom: 400px;
  background-color: #fafafa;
}
.pc-mode .showCase-container #wallpaper {
  width: 640px;
  height: 640px;
  margin-left: -40px;
  margin-top: -10px;
  position: fixed;
  background-size: 640px, 640px;
  background-repeat: no-repeat;
  background-image: url("https://pag.qq.com/website/static/img/new_official_website/bgLogo.png");
}
.pc-mode .showCase-container .caseWrapper {
  width: 460px;
  padding: 0;
  margin: -80px auto 0 auto;
}
.pc-mode .showCase-container .caseBox {
  width: 460px;
  height: 1300px;
  display: flex;
  align-items: center;
}
.pc-mode .showCase-container .caseBox .case {
  width: 460px;
  position: sticky;
  top: calc(100vh / 2 - 458px);
}
.pc-mode .showCase-container .titleBox {
  opacity: 1;
}
.pc-mode .showCase-container .titleBox .mainTitle {
  height: 48px;
  line-height: 48px;
  font-size: 46px;
  font-family: "PingFangSC-Semibold";
  font-weight: 600;
  margin-bottom: 18px;
}
.pc-mode .showCase-container .titleBox .subTitle {
  height: 24px;
  line-height: 24px;
  font-size: 18px;
  font-family: "PingFangSC-Light" !important;
  font-weight: 300;
}
.pc-mode .showCase-container .videoBox {
  width: 360px;
  margin: 48px auto 0 auto;
}
.pc-mode .showCase-container .video {
  width: 360px;
  height: 640px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}
.pc-mode .showCase-container #progressBox {
  position: fixed;
  top: 50%;
  margin-top: -184px;
  display: flex;
}
.pc-mode .showCase-container #progressUl {
  margin: 0;
  padding: 0;
  z-index: 9;
}
.pc-mode .showCase-container .mark {
  height: 24px;
  line-height: 24px;
  list-style-type: none;
  font-size: 16px;
  color: #33333334;
  margin: 0 auto 32px auto;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}
.pc-mode .showCase-container .mark::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #33333334;
  margin-right: 12px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}
.pc-mode .showCase-container .mark::after {
  content: "";
  display: block;
  width: 2px;
  height: 46px;
  background-color: #33333334;
  position: relative;
  left: 4px;
  top: -6px;
}
.pc-mode .showCase-container .mark:hover {
  color: #3333338a;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  cursor: pointer;
}
.pc-mode .showCase-container .mark.active {
  font-size: 18px;
  color: #333333;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}
.pc-mode .showCase-container .mark.active::before {
  background-color: #333333;
}
.pc-mode .showCase-container .mark.active::after {
  background: linear-gradient(#333333 0%, #33333334 100%);
}
.pc-mode .showCase-container .mark.near::after {
  background: linear-gradient(#33333334 0%, #333333 100%);
}
.pc-mode .showCase-container #progressUl li:last-child {
  margin: 0;
}
.pc-mode .showCase-container #progressUl li:last-child::after {
  display: none;
}
@keyframes clickMark {
  40% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.pc-mode #faq blockquote {
  color: #605600 !important;
}
.pc-mode #faqLogo {
  width: 640px;
  height: 640px;
  margin-left: -40px;
  margin-top: -40px;
  position: fixed;
  background-size: 640px, 640px;
  background-repeat: no-repeat;
  background-image: url("https://pag.qq.com/website/static/img/new_official_website/bgLogo.png");
}
.pc-mode #faqLogo::after {
  content: "";
  display: block;
  width: 640px;
  height: 640px;
  -webkit-backdrop-filter: saturate(180%) blur(8px);
  backdrop-filter: saturate(180%) blur(8px);
  z-index: 9;
}
@keyframes star {
  0% {
    background-size: 18px;
    background-position: 12.7% 46%;
    font-size: 16px;
  }
  75% {
    background-size: 30px;
    background-position: 6.7% 40%;
    font-size: 18px;
  }
  100% {
    background-size: 18px;
    background-position: 12.7% 46%;
    font-size: 16px;
  }
}
.pc-mode #pdfViewer {
  width: 980px;
  height: 750px;
  border-bottom: 6px solid #7a7a7a;
}
.pc-mode #pdfDownload {
  font-size: 14px;
  font-family: "PingFangSC-Semibold" !important;
  border-radius: 8px;
  background-color: #005AD9;
  color: #ffffff !important;
  height: 40px;
  width: 88px;
  margin-bottom: 20px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.pc-mode .playerMain {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
}
.pc-mode #playerSlider {
  width: 450px;
  height: 64px;
  transform: scale(1.2);
}

.mobile-mode {
  background-size: 100%;
}
.mobile-mode a.btn {
  cursor: pointer;
  display: flex;
  width: 1.7333333333rem;
  height: 0.64rem;
  line-height: 0.64rem;
  border: 1px solid #ccc;
  border-radius: 0.1066666667rem;
  text-align: center;
  background-color: #fff;
  font-weight: 600;
}
.mobile-mode a.btn img {
  width: 0.32rem;
  height: 0.32rem;
  margin-right: 0.1733333333rem;
  top: 0.1333333333rem;
  left: 0.1733333333rem;
  position: relative;
}
.mobile-mode a.btn span {
  text-align: left;
  margin-left: 0.1733333333rem;
  font-size: 0.2133333333rem;
}
.mobile-mode a.btn.blue {
  border: 1px solid #005AD9;
  background-color: #005AD9;
  color: #fff;
}
.mobile-mode .fixedHeaderContainer {
  padding: 0.1066666667rem;
  background-color: transparent;
  min-height: auto;
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255, 255, 255, 0.8);
}
.mobile-mode .fixedHeaderContainer .headerTitleWithLogo {
  display: none;
}
.mobile-mode .fixedHeaderContainer .headerWrapper {
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.mobile-mode .fixedHeaderContainer .headerWrapper header > a:first-child {
  background-image: url("https://pag.qq.com/website/static/img/new_official_website/logo_l.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 0.4266666667rem;
  height: 0.4266666667rem;
}
.mobile-mode .fixedHeaderContainer .headerWrapper header > a:first-child > img {
  display: none;
}
.mobile-mode .fixedHeaderContainer .headerWrapper .navigationSlider .slidingNav ul {
  display: none;
}
.mobile-mode .intro-box .wrap {
  display: flex;
  flex-direction: column-reverse;
  padding: 0 0.3066666667rem 0.6rem 0.3066666667rem;
}
.mobile-mode .intro-box .wrap .main-content {
  font-weight: 100;
  font-size: 0.1866666667rem;
  line-height: 0.32rem;
}
.mobile-mode .intro-box .wrap .main-content br {
  display: none;
}
.mobile-mode .intro-box .wrap .main-content .pag {
  width: 2.0533333333rem;
  display: block;
  margin-top: 0.44rem;
  margin-bottom: 0.4rem;
}
.mobile-mode .intro-box .wrap .main-content .paragraph {
  margin-bottom: 0.3733333333rem;
}
.mobile-mode .intro-box .wrap .main-content .btn-bar {
  display: flex;
}
.mobile-mode .intro-box .wrap .main-content .btn-bar a {
  margin-right: 0.2rem;
}
.mobile-mode .intro-box .wrap .main-content .tip {
  display: inline-block;
  margin-top: 0.24rem;
  font-size: 0.16rem;
  line-height: 0.24rem;
}
.mobile-mode .intro-box .wrap .logo-l {
  width: 2.4rem;
  height: 2.4rem;
  margin: 0 auto;
}
.mobile-mode .main {
  background-color: white;
  padding: 0.6rem 0.32rem 0.6266666667rem 0.32rem;
}
.mobile-mode .main .feature {
  width: 1.0666666667rem;
  margin-bottom: 0.3066666667rem;
}
.mobile-mode .main .wrap {
  display: flex;
  flex-direction: column-reverse;
}
.mobile-mode .main .wrap .pagApng {
  margin-bottom: 0.64rem;
}
.mobile-mode .main .wrap > div .num {
  width: 0.96rem;
}
.mobile-mode .main .wrap > div .title {
  font-size: 0.4266666667rem;
  line-height: 0.64rem;
  font-weight: 900;
  margin-top: 0.1866666667rem;
  margin-bottom: 0.3466666667rem;
  font-family: "PingFangSC-Semibold" !important;
}
.mobile-mode .main .wrap > div .title::after {
  content: "。";
}
.mobile-mode .main .wrap > div .text {
  font-size: 0.1866666667rem;
  line-height: 0.32rem;
  font-weight: 100;
  margin-bottom: 0.2933333333rem;
}
.mobile-mode .main .wrap > div .text br {
  display: none;
}
.mobile-mode .main .wrap > div .btn-bar {
  display: flex;
}
.mobile-mode .main .wrap > div .btn-bar a {
  margin-right: 0.2rem;
}
.mobile-mode .main img.arrow {
  width: 0.2266666667rem;
  margin: 0.3066666667rem auto;
  display: block;
}
.mobile-mode .main img.arrow.reverse {
  transform: scaleX(-1);
  right: 17px;
}
.mobile-mode .partner {
  padding: 0.64rem 0.32rem 0;
}
.mobile-mode .partner .wrap > img:first-child {
  margin-bottom: 0.3066666667rem;
}
.mobile-mode .partner .wrap .users {
  width: 0.8666666667rem;
}
.mobile-mode .partner .wrap .title {
  font-size: 0.4266666667rem;
  line-height: 0.64rem;
  font-weight: 900;
  margin-bottom: 0.32rem;
}
.mobile-mode .partner .wrap .gallery {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.32rem;
}
.mobile-mode .partner .wrap .item:nth-child(3n) {
  margin-right: 0;
}
.mobile-mode .partner .wrap .item {
  margin-right: 0.1866666667rem;
  width: 1.32rem;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.16);
  padding-top: 0.3066666667rem;
}
.mobile-mode .partner .wrap .item .thumb {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 0.18rem;
  box-shadow: 0 0 0.08rem rgba(0, 0, 0, 0.16);
}
.mobile-mode .partner .wrap .item .name {
  margin-top: 0.1466666667rem;
  line-height: 0.32rem;
  font-size: 0.1866666667rem;
  margin-bottom: 0.3066666667rem;
}
.mobile-mode .partner .wrap .btn-bar {
  display: flex;
}
.mobile-mode .partner .wrap .btn-bar a {
  margin-right: 0.2rem;
}
.mobile-mode .download {
  background-color: #222;
  position: relative;
  margin-top: 1.6933333333rem;
  padding-bottom: 0.32rem;
}
.mobile-mode .download .wrap {
  margin: 0 auto;
}
.mobile-mode .download .wrap .pkg {
  position: relative;
  text-align: center;
}
.mobile-mode .download .wrap .pkg img {
  width: 3.36rem;
  margin-top: -1.04rem;
}
.mobile-mode .download .wrap .pkg .pkg-download {
  display: inline-block;
  width: 3.36rem;
  height: 6.08rem;
  margin-top: -1.0533333333rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://pag.qq.com/website/static/img/new_official_website/pkg-download-m.png");
}
.mobile-mode .download .wrap .pkg .mac-download,
.mobile-mode .download .wrap .pkg .win-download {
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.8666666667rem;
}
.mobile-mode .download .wrap .pkg .win-download {
  bottom: 0.0666666667rem;
}
.mobile-mode .download .wrap .pkg .mac-download {
  bottom: 1.1333333333rem;
}
.mobile-mode .customer-service {
  display: none;
}
.mobile-mode .nav-footer {
  background-color: #222;
  padding-bottom: 0;
  padding-top: 0;
}
.mobile-mode .nav-footer .copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.16);
  padding-top: 0.32rem;
  margin-left: 0.32rem;
  margin-right: 0.32rem;
  padding-bottom: 0.32rem;
  font-size: 0.16rem;
  line-height: 0.32rem;
  text-align: left !important;
}
.mobile-mode .nav-footer .git-icon {
  float: left;
  margin-right: 0.32rem;
  margin-top: 0.32rem;
  width: 0.32rem;
  height: 0.32rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("https://pag.qq.com/website/static/img/new_official_website/github.png");
}
.mobile-mode .nav-footer .qq-group-icon {
  display: inline-block;
  flex: 1;
  cursor: pointer;
  margin-top: 0.32rem;
  padding-left: 0.4rem;
  font-size: 0.16rem;
  height: 0.32rem;
  line-height: 0.32rem;
  background-repeat: no-repeat;
  background-size: 0.32rem;
  background-image: url("https://pag.qq.com/website/static/img/new_official_website/qq.png");
  color: #ccc;
  margin-right: 0.32rem;
  margin-bottom: 0.2rem;
}
.mobile-mode .nav-footer .privacy-policy {
  font-size: 12px;
  font-weight: 500;
  color: #dadada;
}
.mobile-mode .navigationSlider .slidingNav {
  top: -0.0266666667rem;
}
.mobile-mode .navigationSlider .nav-site {
  height: 100%;
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 0.0266666667rem;
  padding-top: 0.64rem;
}
.mobile-mode .navigationSlider .nav-site li {
  padding: 0 0.32rem;
}
.mobile-mode .navigationSlider .nav-site li a {
  height: 0.64rem;
  color: #333;
  padding: 0;
  line-height: 0.32rem;
  font-size: 0.2133333333rem;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}
.mobile-mode .nav-icon {
  width: 0.32rem;
  height: 0.32rem;
  top: 0.1333333333rem;
  right: 0.2rem;
  position: fixed;
  background-size: 0.32rem;
  background-image: url("https://pag.qq.com/website/static/img/new_official_website/nav-m.png");
}
.mobile-mode .expand {
  background-image: url("https://pag.qq.com/website/static/img/new_official_website/close.png");
}
.mobile-mode .navigationSlider .slidingNav ul li a:focus, .mobile-mode .navigationSlider .slidingNav ul li a:hover, .mobile-mode .navigationSlider .slidingNav ul li.siteNavItemActive a, .mobile-mode .navigationSlider .slidingNav ul li.siteNavGroupActive a {
  background: none;
}
.mobile-mode .docsNavContainer .toc .navBreadcrumb {
  display: none;
}
.mobile-mode .docsNavContainer .toc .toggleNav .navGroup .navGroupCategoryTitle {
  font-size: 0.32rem;
  line-height: 0.4266666667rem;
}
.mobile-mode .docsNavContainer .toc .toggleNav .navGroup ul li a {
  min-height: 0.64rem;
  line-height: 0.64rem;
  font-size: 0.2133333333rem;
  padding: 0;
}
.mobile-mode .docsNavContainer .toc .toggleNav .navGroup ul li:last-child {
  margin-bottom: 0.3066666667rem;
}
.mobile-mode .docsSliderActive {
  top: 0;
}
.mobile-mode .docs-prevnext {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 0.32rem;
  right: 0.32rem;
  margin: 0;
}
.mobile-mode .docs-prevnext .docs-prev {
  margin-right: 0.2933333333rem;
  background: #fff;
  width: 0.5333333333rem;
  height: 0.5333333333rem;
  border-radius: 0.5333333333rem;
  box-shadow: 2px 2px 6px #d2d2d2;
}
.mobile-mode .docs-prevnext .docs-prev > span:nth-child(1) {
  color: transparent;
}
.mobile-mode .docs-prevnext .docs-prev > span:nth-child(1):after {
  content: "";
  width: 0.5333333333rem;
  height: 0.5333333333rem;
  position: absolute;
  left: 0;
  top: -3px;
  border-radius: 0.5333333333rem;
  border: 1px solid #333;
  background-image: url("https://pag.qq.com/website/static/img/new_official_website/arrow_right.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.mobile-mode .docs-prevnext .docs-prev > span:nth-child(2) {
  display: none;
}
.mobile-mode .docs-prevnext .docs-next {
  background: #fff;
  width: 0.5333333333rem;
  height: 0.5333333333rem;
  border-radius: 0.5333333333rem;
  box-shadow: 2px 2px 6px #d2d2d2;
}
.mobile-mode .docs-prevnext .docs-next > span:nth-child(1) {
  display: none;
}
.mobile-mode .docs-prevnext .docs-next > span:nth-child(2) {
  color: transparent;
}
.mobile-mode .docs-prevnext .docs-next > span:nth-child(2):after {
  content: "";
  width: 0.5333333333rem;
  height: 0.5333333333rem;
  position: absolute;
  right: 0;
  top: -3px;
  border-radius: 0.5333333333rem;
  border: 1px solid #333;
  background-image: url("https://pag.qq.com/website/static/img/new_official_website/arrow_right.png");
  transform: scaleX(-1);
  background-repeat: no-repeat;
  background-position: center center;
}
.mobile-mode .docs-prevnext .docs-prev, .mobile-mode .docs-prevnext .docs-next {
  border: none;
  position: relative;
  width: auto;
}
.mobile-mode .category-icon {
  width: 0.7733333333rem;
  height: 0.7733333333rem;
  background-size: contain;
  background-image: url("https://pag.qq.com/website/static/img/new_official_website/category_menu.png");
  background-position: 0.0266666667rem 0.0533333333rem;
  position: fixed;
  left: 0.32rem;
  bottom: 0.32rem;
}
.mobile-mode .navPusher .usersContainer {
  margin-top: -0.6933333333rem;
  padding: 0;
}
.mobile-mode .navPusher .mainContainer {
  min-height: calc(100vh - 160px);
}
.mobile-mode .navPusher .mainContainer .container {
  padding-top: 0;
}
.mobile-mode .navPusher .mainContainer .container .wrapper .showcaseSection .logos {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.32rem;
  justify-content: flex-start;
}
.mobile-mode .navPusher .mainContainer .container .wrapper .showcaseSection .logos > a:nth-child(3n) {
  margin-right: 0;
}
.mobile-mode .navPusher .mainContainer .container .wrapper .showcaseSection .logos > a {
  margin-right: 0.1866666667rem;
  width: 1.32rem;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.16);
  padding-top: 0.3066666667rem;
}
.mobile-mode .navPusher .mainContainer .container .wrapper .showcaseSection .logos > a img {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 0.18rem;
  box-shadow: 0 0 0.08rem rgba(0, 0, 0, 0.16);
  padding: 0;
}
.mobile-mode .navPusher .mainContainer .container .wrapper .showcaseSection .logos > a .name {
  margin-top: 0.1466666667rem;
  line-height: 0.32rem;
  font-size: 0.1866666667rem;
  margin-bottom: 0.3066666667rem;
}
.mobile-mode .navPusher .mainContainer .container .wrapper .showcaseSection .logos .contact {
  position: relative;
}
.mobile-mode .navPusher .mainContainer .container .wrapper .showcaseSection .logos .contact img {
  box-shadow: none;
}
.mobile-mode .navPusher .mainContainer .container .wrapper .showcaseSection .logos .contact .name {
  position: relative;
}
.mobile-mode .navPusher .mainContainer .container .wrapper .showcaseSection .logos .contact .ts {
  position: absolute;
  font-size: 0.1866666667rem;
  line-height: 0.32rem;
  color: #005AD9;
  width: 100%;
  text-align: center;
  bottom: 0;
}
.mobile-mode .navPusher .mainContainer .container .wrapper .showcaseSection .prose {
  line-height: 0.64rem;
  font-size: 0.4266666667rem;
}
.mobile-mode .navPusher .mainContainer .container .wrapper .showcaseSection .prose h1 {
  text-align: left;
  margin-bottom: 0.28rem;
}
.mobile-mode .showCase-container .caseMain {
  display: flex;
  flex-direction: column;
}
.mobile-mode .showCase-container .caseMain #wallpaper {
  width: calc(100vw);
  height: calc(100vw);
  left: 0;
  top: 0;
  position: fixed;
  background-size: calc(100vw), calc(100vw);
  background-repeat: no-repeat;
  background-image: url("https://pag.qq.com/website/static/img/new_official_website/bgLogo.png");
  transition: all 2.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform-origin: center;
  z-index: -1;
}
.mobile-mode .showCase-container .caseMain .caseWrapper {
  padding: 0.6rem 0.32rem 0.63rem 0.32rem;
  margin: -1.3333333333rem auto 0 auto;
}
.mobile-mode .showCase-container .caseMain .caseBox {
  height: 11.4666666667rem;
  display: flex;
  align-items: center;
  z-index: 9;
}
.mobile-mode .showCase-container .caseMain .caseBox .case {
  display: flex;
  flex-direction: column;
}
.mobile-mode .showCase-container .caseMain .caseBox .case .titleBox {
  opacity: 1;
}
.mobile-mode .showCase-container .caseMain .caseBox .case .titleBox .mainTitle {
  font-size: 0.48rem;
  line-height: 0.64rem;
  font-weight: 900;
  margin-top: 0.1866666667rem;
  margin-bottom: 0.3466666667rem;
  font-family: "PingFangSC-Semibold";
}
.mobile-mode .showCase-container .caseMain .caseBox .case .titleBox .subTitle {
  line-height: 0.32rem;
  font-size: 0.24rem;
  font-family: "PingFangSC-Light";
  font-weight: 300;
  font-family: "PingFangSC-Light";
}
.mobile-mode .showCase-container .caseMain .caseBox .case .videoBox {
  margin-top: 0.64rem;
}
.mobile-mode .showCase-container .caseMain .caseBox .case .videoBox .video {
  width: calc(100vw - 1.28rem);
  margin: 0 0.32rem;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 0.1333333333rem rgba(0, 0, 0, 0.16);
}
.mobile-mode .showCase-container .caseMain .caseBox .case .videoBox .video.wechat {
  opacity: 0;
  box-shadow: none;
}
.mobile-mode .showCase-container #arrowTip {
  display: none;
}
.mobile-mode .showCase-container #arrowTip::after {
  content: "<";
  width: 0.8533333333rem;
  font-size: 0.8533333333rem;
  transform: rotate(90deg) scale(0.5, 1);
  position: fixed;
  left: 50%;
  bottom: 0.4266666667rem;
  margin-left: -0.4266666667rem;
  opacity: 0.8;
  color: #686666;
  animation: tipArrow 1.4s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}
.mobile-mode #faq blockquote {
  color: #605600 !important;
}
.mobile-mode #faqLogo {
  width: calc(100vw);
  height: calc(100vw);
  left: 0;
  top: 0;
  position: fixed;
  background-size: calc(100vw), calc(100vw);
  background-repeat: no-repeat;
  background-image: url("https://pag.qq.com/website/static/img/new_official_website/bgLogo.png");
  transform-origin: center;
  z-index: -1;
}
.mobile-mode #faqLogo::after {
  content: "";
  display: block;
  width: calc(100vw);
  height: calc(100vw);
  -webkit-backdrop-filter: saturate(180%) blur(8px);
  backdrop-filter: saturate(180%) blur(8px);
  z-index: 9;
}
.mobile-mode .hljs {
  padding: 0.25rem !important;
}
@keyframes tipArrow {
  100% {
    opacity: 0;
    bottom: 1.12rem;
  }
}
.mobile-mode #pdfViewer {
  display: none;
}
.mobile-mode #pdfDownload {
  font-size: 14px;
  font-family: "PingFangSC-Semibold" !important;
  border-radius: 8px;
  background-color: #005AD9;
  color: #ffffff !important;
  height: 40px;
  width: 88px;
  margin-bottom: 20px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.mobile-mode #pdfViewer {
  display: none;
}
.mobile-mode #iframe {
  padding: 0 !important;
}

/*# sourceMappingURL=custom.css.map */
